.nav-link {
    padding: 20px;
}

.text-color {
    color: rgb(255, 0, 0);
}

.nav-link a {
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
    color: white;
    /* font-weight: bold; */
}

.nav-link img {
    margin-left: 20px;
    height: 80px;
    border-radius: 50%;
}

.nav-link a:hover {
    color: orange;

}